
* {
    font-family: 'Asap Condensed', sans-serif;
    background-color: transparent;
    color: white;
}

body {
    background-image: url('src/assets/background2.jpg');
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    margin: 0;
    padding-top: 3vh;
}

#app {
    position: relative;
} 

/* #app {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
} */